nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(49, 6, 88);
  color: white;
  margin-top: 0px;
}

.nav-item {
  width: 30%;
  color: white;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.nav-item a {
  color: white;
}

ul {
  align-items: center;
  margin: 20 auto;
}

.site-layout-content{
  background-color: white;
  padding: 12px 0px;
}